.pixelBackground {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}
.pixelBackground .row {
  display: flex;
  width: 100%;
  height: 10vh;
}

.pixelBackground .block {
  width: 10vh;
  height: 100%;
  background-color: #dac340;
}
