.loader {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dac340;
  overflow: hidden;
  z-index: 50;
}

.loader_wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 40;
}

.loader_words {
  position: relative;
  overflow: hidden;
  height: 41.8rem;
}

.loader_overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    #dac340,
    #dac340 47%,
    transparent,
    transparent 47%,
    transparent,
    transparent 55%,
    #dac340 50%,
    #dac340
  );
}

.loader_word {
  display: block;
  font-size: 3.1rem;
  color: #000;
}

.loader_progressWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  z-index: 3;
}

.loader_progress {
  height: 100%;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left center;
}

.loader_progressNumber {
  position: absolute;
  left: -10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  white-space: nowrap;
  color: white;
  font-size: 3.2rem;
}

@media (max-width: 900px) {
  .loader_progressNumber {
    left: -16vw;
    font-size: 1.9rem;
  }
}
