.main {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.mask,
.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cfcecb;
  font-size: 64px;
  line-height: 66px;
  cursor: default;
}

.body p {
  width: 1000px;
  padding: 40px;
}
.mask p {
  width: 1000px;
  padding: 40px;
}
.body span {
  color: #dac340;
}

.mask {
  mask-image: url("../../../../public/images/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #dac340;
  position: absolute;
  color: black;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .mask,
  .body {
    width: 100%;
    height: 100vh;
    font-size: 48px;
    line-height: 46px;
    padding: 0 20px;
  }
}
