.main {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mask,
.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afa18f;
  font-size: 64px;
  line-height: 66px;
  cursor: default;
}

.body p {
  width: 1000px;
  padding: 40px;
}
.mask p {
  width: 1000px;
  padding: 40px;
}
.body span {
  color: #dac340;
}

.mask {
  mask-image: url("../../../../public/images/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #dac340;
  position: absolute;
  color: black;
}
