.splits {
  z-index: -1;
  height: fit-content;
}

.splits-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-x: hidden;
}

.splits section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific Layout Styles */
.splits-hero {
  height: 50vh;
}

.splits-hero {
  width: 50%;
  text-align: center;
  font-size: 5rem;
  line-height: 80%;
}

.splits-main {
  width: 100vw;
  height: 150vh;
  flex-direction: column;
}

.splits-row {
  width: 100vw;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
  z-index: 1; /* Lower z-index than the play-button */
  position: relative;
}

.splits-card {
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform; /* Performance optimization */
}

.splits-main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; /* Increase z-index to ensure it's above other elements */
}

.splits-logo {
  width: 200px;
  height: 200px;
  border: 2px solid #dac340;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0); /* Initial scale set to 0 for animation */
}

.splits-copy {
  color: #e9e9e9;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splits-line {
  position: relative;
  margin: 0.5em 0;
  width: max-content;
  height: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.splits-line p {
  position: relative;
  font-size: 24px;
  line-height: normal;
  transform: translateY(30px); /* Animation initial state */
}

.splits button {
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #dac340;
  border: 2px solid #dac340;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(30px); /* Animation initial state */
  opacity: 0; /* Animation initial state */
}

.play-button {
  z-index: 9999; /* Increase z-index to ensure it's above other elements */
  position: relative; /* Ensure proper stacking context */
}

/* Responsive Styles */
@media (max-width: 900px) {
  .splits-card {
    width: 50%;
    height: 240px;
  }
  .splits-main {
    height: 100vh;
  }
  .splits-logo {
    width: 100px;
    height: 100px;
  }
  .splits-logo img {
    width: 50px;
    height: 50px;
  }
  .splits-hero {
    width: 50%;
    font-size: 3rem;
  }
}
