.menu-bar,
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
}

.menu-overlay a,
.menu-overlay p {
  color: #000;
}

.menu-bar a,
.menu-open p {
  color: #dac340;
  font-size: 14px;
  cursor: pointer;
}

.menu-close p {
  color: #000;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background-color: #dac340;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
}

.menu-overlay .open {
  pointer-events: auto;
  opacity: 1;
}

.menu-close-icon {
  height: 100%;
  flex: 2;
  display: flex;
  align-items: flex-end;
}

.menu-copy {
  height: 80vh;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}

.menu-preview {
  height: 100%;
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 5px #dac340;
  line-height: 70%;
  cursor: pointer;
}

.menu-link {
  text-transform: uppercase;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-info {
  display: flex;
  font-weight: 500;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: flex-end;
  font-size: 14px;
}

.menu-overlay-bar {
  display: flex;
  width: 94%;
  min-width: fit-content;
  justify-content: space-between;
  font-size: 14px;
  position: absolute;
  top: 45px;
}

.menu-close-icon {
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }

  .menu-overlay-bar {
    width: 85%;
  }

  .menu-bar {
    padding: 1em;
    width: 90vw;
  }

  .menu-overlay {
    padding: 1em;
  }

  .menu-overlay-bar {
    width: 80%;
  }
}
