.main {
  position: relative;
  margin-top: 10vh;
  height: 100vh * 5; /* Make sure the page is tall enough for scroll */
}

.cardContainer {
  height: 100vh; /* Each card takes full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0; /* Sticky effect starts here */
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  width: 1000px;
  border-radius: 25px;
  padding: 50px;
  transform-origin: top;
  h2 {
    text-align: left;
    margin: 0;
    font-size: 36px;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    width: 30%;
    line-height: 90%;
  }

  .body {
    display: flex;
    height: 100%;
    margin-top: 10px;
    gap: 50px;

    .description {
      width: 40%;
      position: relative;
      top: 0%;
      color: black;
      p {
        font-size: 16px;
        &::first-letter {
          font-size: 28px;
          color: black;
        }
      }
      span {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          font-size: 18px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .imageContainer {
      position: relative;
      width: 60%;
      height: 100%;
      border-radius: 25px;
      overflow: hidden;
      .inner {
        width: 100%;
        height: 100%;
        position: relative;
      }
      img {
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 900px) {
  .card {
    height: 600px;
    width: 420px;
    padding: 40px;
    h2 {
      width: 100%;
    }
    .body {
      flex-direction: column;
      justify-items: start;
      .description {
        top: 1%;
        width: 100%;
      }
      .imageContainer {
        width: 100%;
        height: 50%;
      }
    }
  }
}
